html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

a {
    text-decoration: none;
}

input,
button,
textarea,
select {
    margin: 0;
    font: inherit;
}

button {
    padding: 2px;
    border: none;
    background-color: inherit;
    cursor: pointer;
    outline: none;
}

body {
    min-width: 320px;
    min-height: 100%;
    margin: 0;
    font-size: 16px;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.list-reset {
    padding: 0;
    margin: 0;
    list-style: none;
}

.title {
    color: var(--first-color);
    font-size: var(--font-size-xl);
    font-weight: bold;
}


.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.space-between {
    justify-content: space-between;
}

.flex-end {
    justify-content: flex-end;
}

.align-center {
    align-items: center;
}

.grid {
    display: grid;
    column-gap: var(--offset);
    grid-template-columns: repeat(6, 1fr);

    @include small-tablet {
        grid-template-columns: repeat(3, 1fr);
    }
}

