:root {
    --font-family: 'Roboto', sans-serif;
    --second-family: 'Open sans', sans-serif;
    --content-width: 1100px;
    --container-offset: 15px;
    --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
    --font-size-xxl: 28px;
    --font-size-xl: 26px;
    --font-size-l: 22px;
    --font-size-m: 18px;
    --font-size-s: 16px;
    --font-size-xs: 14px;
    --font-size-xxs: 12px;
    --font-size-nav: 20px;

    // Font colors
    --first-color: #42446e;
    --second-color: #666;
    --blue-color: #13b0f5;
    --pink-color: #e70faa;
    --offset: 20px;
}
