@import '/src/app/styles/mixins';

.Navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 50px 0 0;
    margin: 0;
    color: var(--second-color);
    font-family: var(--second-family);
    gap: 50px;
    list-style: none;

    @include mobile {
        padding-right: 15px;
        gap: 10px;
    }
}

.list {
    grid-column: 4 / 2 span;
}

.link {
    color: var(--second-color);

    &:hover {
        color: var(--blue-color);
    }
}